<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fancynote">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FancyNote"
        tools:targetApi="31">
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".Remove_Password"
            android:exported="false" />
        <activity
            android:name=".PwVerification"
            android:exported="false" />
        <activity
            android:name=".PasswordInsert"
            android:exported="false" />
        <activity
            android:name=".Inquiry"
            android:exported="false" />
        <activity
            android:name=".AddMemo"
            android:exported="false" />
        <activity
            android:name=".setPwActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>